In [121]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
import seaborn as sns

In [122]:
df = pd.read_csv('train_stroke.csv')

In [123]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,Male,28.0,0,0,Yes,Private,Urban,79.53,31.1,never smoked,0
1,1,Male,33.0,0,0,Yes,Private,Rural,78.44,23.9,formerly smoked,0
2,2,Female,42.0,0,0,Yes,Private,Rural,103.00,40.3,Unknown,0
3,3,Male,56.0,0,0,Yes,Private,Urban,64.87,28.8,never smoked,0
4,4,Female,24.0,0,0,No,Private,Rural,73.36,28.8,never smoked,0

In [124]:
from sklearn import preprocessing
# initializing sklearn labelencoder
le = preprocessing.LabelEncoder()

In [125]:
df['Residence_type'] = le.fit_transform(df['Residence_type'])
df['gender'] = le.fit_transform(df['gender'])
df['smoking_status'] = le.fit_transform(df['smoking_status'])
df['ever_married'] = le.fit_transform(df['ever_married'])
df['work_type'] = le.fit_transform(df['work_type'])

In [126]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,0,1,28.0,0,0,1,2,1,79.53,31.1,2,0
1,1,1,33.0,0,0,1,2,0,78.44,23.9,1,0
2,2,0,42.0,0,0,1,2,0,103.00,40.3,0,0
3,3,1,56.0,0,0,1,2,1,64.87,28.8,2,0
4,4,0,24.0,0,0,0,2,0,73.36,28.8,2,0

In [127]:
df.stroke.value_counts()

0    14672
1      632
Name: stroke, dtype: int64

In [128]:
df = df.drop(['id'], axis=1)

In [129]:
x_train = df.drop(['stroke'], axis=1)

In [130]:
y_train = df['stroke']

In [131]:
reg = LogisticRegression(max_iter=1000)

In [132]:
reg.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [133]:
y_pred = reg.predict(x_train)

In [134]:
score = reg.score(x_train,y_train)

In [135]:
score

0.9583115525352849

In [136]:
test_df = pd.read_csv('test_stroke.csv')

In [137]:
test_df['Residence_type'] = le.fit_transform(test_df['Residence_type'])
test_df['gender'] = le.fit_transform(test_df['gender'])
test_df['smoking_status'] = le.fit_transform(test_df['smoking_status'])
test_df['ever_married'] = le.fit_transform(test_df['ever_married'])
test_df['work_type'] = le.fit_transform(test_df['work_type'])
test_df= test_df.drop(['id'], axis=1)

In [138]:
test_df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,0,57.0,0,0,1,2,0,82.54,33.4,0
1,1,70.0,1,0,1,2,1,72.06,28.5,0
2,0,5.0,0,0,0,4,1,103.72,19.5,0
3,0,56.0,0,0,1,0,1,69.24,41.4,3
4,1,32.0,0,0,1,2,0,111.15,30.1,3
...,...,...,...,...,...,...,...,...,...,...
10199,0,27.0,0,0,0,2,1,75.77,17.6,2
10200,1,49.0,0,0,1,2,1,102.91,26.7,0
10201,0,3.0,0,0,0,4,0,104.04,18.3,0
10202,1,31.0,0,0,1,2,1,82.41,28.7,2
10203,0,2.0,0,0,0,4,1,85.12,14.8,0

In [139]:
test_pred = reg.predict(test_df)

In [144]:
prob = reg.predict_proba(test_df)
prob

array([[9.68124172e-01, 3.18758284e-02],
       [8.71363305e-01, 1.28636695e-01],
       [9.99798884e-01, 2.01115876e-04],
       ...,
       [9.99828415e-01, 1.71585214e-04],
       [9.96537619e-01, 3.46238086e-03],
       [9.99882885e-01, 1.17115179e-04]])

In [104]:
type(test_pred)

numpy.ndarray

In [143]:
prob[:,0]

array([0.96812417, 0.8713633 , 0.99979888, ..., 0.99982841, 0.99653762,
       0.99988288])

In [146]:
test_df = pd.read_csv('test_stroke.csv')

In [147]:
d = pd.DataFrame(prob[:,1],test_df['id'])

In [149]:
d.to_csv('submission.csv')